<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ozeliurs - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
    {% block header %}{% endblock %}
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projets</a></li>
        <li><a href="/guides">Guides</a></li>
    </ul>
</nav>
{% block content %}{% endblock %}
<footer></footer>
<script async defer data-website-id="f735e0a3-4f65-446e-8ab9-c2c182429a1f" src="https://umami.ozeliurs.com/umami.js"></script>
</body>
</html>
