<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ozeliurs - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
    {% block header %}{% endblock %}
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projets</a></li>
        <li><a href="/guides">Guides</a></li>
    </ul>
</nav>
{% block content %}{% endblock %}
<footer></footer>
<script async src="https://umami.ozeliurs.com/script.js" data-website-id="1a7b6159-8b92-4607-b84d-53a217132717"></script>
</body>
</html>
